.ability{
    display: flex;
    flex-direction: row;
}

.columns{
    display: flex;
    flex-direction: row;
}

.hp{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills{
    display: flex;
    justify-content: center;
    align-items: center;
}

.false{
    color: red
}

.true{
    color: green
}

.errorSpace{
    color:red;
}

.hidden{
    display: none;
}

.skillBox{
    outline: solid black 2px;
    margin: 10px;
    padding: 5px;
}


@media only screen and (min-width: 768px){
.sheet{
    width: 70%;
    margin: .25cm;
    padding: .25cm;
}

}