

.ability{
    display: flex;
    flex-direction: row;
}

.mainForm{
    display: flex;
    flex-direction: column;
}

.columns{
    display: flex;
    flex-direction: row;
}

.hp{
    display: flex;
    flex-direction: column;
}

.false{
    color: red
}

.true{
    color: green
}

.skills{
    direction:ltr;
}

.errorSpace{
    color:red;
}

.hidden{
    display: none;
}


@media only screen and (min-width: 768px){
.sheet{
    width: 70%;
    margin: .25cm;
    padding: .25cm;
}

}