.Home{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}


@media only screen and (min-width: 768px){
    .Home{
        display: flex;
        flex-direction: row;
        width: 99%;
        height: 100%;
    }

}