.sidebar{
    display: flex;
    flex-direction: column;
}

.charaTabs{
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
}


@media only screen and (min-width: 768px){
.sidebar{
    width: 30%;
}

.charaTabs{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
    margin-top: .25cm;
}


}